@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Roboto|Oswald");

html, body, #root {
  width: 100%;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#root {
  display: flex;
  justify-content: center;
}
.main-back {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: center;
  margin-top: 2%;
}
/* menu panel*/
.menu-back {
  width: 19%;
  height: 100%;
  padding-top: 2%;
}
.profile-img {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 30px;
}
.profile-img:hover{
  filter: opacity(0.8);
}
.menu-back ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-back ul li{
  padding-bottom: 10px;
  padding-top: 0px;
  text-align: left;
}
.menu-back h4 {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.menu-back li a {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.onlink {
  color: #222;
}
.menu-back a:hover{
  color: #222;
}
/* showcase panel */
.showcase-back {
  width: 79%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showcase-imgs-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.showcase-imgs {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.showcase-single-img {
  margin-top: 3%;
  padding: 5% 3%;
  width: 100%;
  box-sizing: border-box;
}
.showcase-single-img h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #222;
  font-size: 24px;
  text-align: center;
}
.showcase-imgs img {
  width: 100%;
}
.showcase-imgs img:hover{
  filter: opacity(0.8);
  cursor: pointer;
}
.back-to-top {
  padding: 60px 0;
  text-align: center;
  width: 100%
}
.back-to-top a {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.back-to-top a:hover{
  color: #222;
  cursor: pointer;
}
.arrow {
  margin-right: 10px;
}
/* footer panel */
.footer {
  font-family: 'Oswald', sans-serif;
  color: #ccc;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  width: 100%;
}
.footer a {
  color: #ccc;
}
.footer a:hover{
  color: #222;
}
/* about page *//* individual page */
.contents-p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 20px;
  padding-top: 0px;
  color: #999;
}
.contents-wrap {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 600px;
}
.individual-gain-pain {
  display: flex;
  justify-content: center;
}
.individual-gain-pain ul{
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}
.individual-gain-pain ul h3 {
  font-family: 'Bree Serif', serif;
}
